.home {
  display: grid;
  min-height: 60vh;
  align-content: end;
  padding-block: clamp(24px, 6vh, 64px);
  background: transparent;
}

.home p {
  color: var(--color-21, #212121);
  font-size: clamp(18px, 2.2vw, 26px);
  font-style: normal;
  font-weight: 300;
}

.home span {
  font-weight: 700;
}
