:root {
	font-family: "Montserrat", sans-serif;
	color: #212121;
	background-color: #fafafa;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-height: 100dvh;
	text-transform: uppercase;
}

a {
	color: inherit;
	/* blue colors for links too */
	text-decoration: inherit;
	/* no underline */
}